<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowTapEditing</key>
	<false/>
	<key>Apps</key>
	<dict>
		<key>_global</key>
		<dict>
			<key>AutoLaunch</key>
			<true/>
			<key>Autoclose</key>
			<true/>
			<key>DimClosed</key>
			<false/>
			<key>DontMoveToFront</key>
			<false/>
			<key>Hidden</key>
			<false/>
			<key>LaunchType</key>
			<integer>0</integer>
			<key>MoveBack</key>
			<false/>
			<key>QuitException</key>
			<false/>
			<key>QuitSingleException</key>
			<false/>
			<key>QuitType</key>
			<integer>0</integer>
			<key>RunningBadge</key>
			<false/>
			<key>ShowCurrentApp</key>
			<false/>
			<key>SwipeNoQuit</key>
			<false/>
		</dict>
		<key>com.apple.mobileipod-MediaPlayer</key>
		<dict>
			<key>AutoLaunch</key>
			<true/>
			<key>Autoclose</key>
			<true/>
			<key>DimClosed</key>
			<false/>
			<key>DontMoveToFront</key>
			<false/>
			<key>Hidden</key>
			<false/>
			<key>LaunchType</key>
			<integer>0</integer>
			<key>MoveBack</key>
			<false/>
			<key>QuitException</key>
			<true/>
			<key>QuitSingleException</key>
			<false/>
			<key>QuitType</key>
			<integer>0</integer>
			<key>RunningBadge</key>
			<false/>
			<key>ShowCurrentApp</key>
			<false/>
			<key>SwipeNoQuit</key>
			<false/>
		</dict>
		<key>com.apple.mobilemail</key>
		<dict>
			<key>AutoLaunch</key>
			<false/>
			<key>Autoclose</key>
			<true/>
			<key>DimClosed</key>
			<false/>
			<key>DontMoveToFront</key>
			<false/>
			<key>Hidden</key>
			<false/>
			<key>LaunchType</key>
			<integer>0</integer>
			<key>MoveBack</key>
			<false/>
			<key>QuitException</key>
			<true/>
			<key>QuitSingleException</key>
			<true/>
			<key>QuitType</key>
			<integer>2</integer>
			<key>RunningBadge</key>
			<false/>
			<key>ShowCurrentApp</key>
			<false/>
			<key>SwipeNoQuit</key>
			<true/>
		</dict>
		<key>com.apple.mobilephone</key>
		<dict>
			<key>AutoLaunch</key>
			<false/>
			<key>Autoclose</key>
			<true/>
			<key>DimClosed</key>
			<false/>
			<key>DontMoveToFront</key>
			<false/>
			<key>Hidden</key>
			<true/>
			<key>LaunchType</key>
			<integer>0</integer>
			<key>MoveBack</key>
			<false/>
			<key>QuitException</key>
			<true/>
			<key>QuitSingleException</key>
			<true/>
			<key>QuitType</key>
			<integer>0</integer>
			<key>RunningBadge</key>
			<false/>
			<key>ShowCurrentApp</key>
			<false/>
			<key>SwipeNoQuit</key>
			<false/>
		</dict>
	</dict>
	<key>BadgeCorner</key>
	<integer>0</integer>
	<key>ConfirmQuit</key>
	<false/>
	<key>ConfirmQuitSingle</key>
	<false/>
	<key>DontWriggle</key>
	<false/>
	<key>FastExit</key>
	<false/>
	<key>HidePrompt</key>
	<false/>
	<key>HidePromptSingle</key>
	<false/>
	<key>LegacyMode</key>
	<false/>
	<key>NoEditMode</key>
	<false/>
	<key>Order</key>
	<array>
		<string>_global</string>
		<string>com.apple.mobilephone</string>
		<string>com.apple.mobilemail</string>
		<string>com.apple.mobileipod-MediaPlayer</string>
	</array>
	<key>QuitAllEnabled</key>
	<true/>
	<key>QuitCurrentApp</key>
	<false/>
	<key>QuitMode</key>
	<integer>0</integer>
	<key>ReorderEdit</key>
	<true/>
	<key>ReorderNonEdit</key>
	<false/>
	<key>SBIcon</key>
	<false/>
	<key>StartupEdit</key>
	<false/>
	<key>StartupiPod</key>
	<false/>
	<key>SwipeToQuit</key>
	<true/>
	<key>ToggleType</key>
	<integer>1</integer>
	<key>iPodOnlyWhenPlaying</key>
	<false/>
</dict>
</plist>
